extends ../layouts/common.pug
block content
   aside.profile-card
      .container#profile-card-content
         .h4.text-secondary.text-right.mb-3= user.name
         table.table 
            tr
               td Email : 
               td.text-right= user.email
            tr
               td Phone : 
               td.text-right= user.phone
            tr
               td Password : 
               td.text-right.text-black-50= user.password