html
   head
      title Welcome to ShopPi
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
      //- For bootstrap\
      link(rel="stylesheet" ,href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
      //- My styles
      link(rel="stylesheet", href="../../styles/styles.css")
      link(rel="shortcut icon", href="https://res.cloudinary.com/djpitpvjl/image/upload/v1544863898/myicon/tab-icon.png")
   body
      //- Navbar
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.border-bottom
         a.navbar-brand(href='/') ShopPi
         button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
         #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
               li.nav-item
                  a.nav-link(href='/user') List User
               li.nav-item
                  a.nav-link(href='/auth/login') Login
               li.nav-item
                  a.nav-link(href='/product') Product
               li.nav-item
                  a.nav-link.active(href='https://www.facebook.com/ninhnguyen375') Contact Me
            form.form-inline.my-2.my-lg-0
               input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
               button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

      //- End navbar
      .container.pb-5.pt-5.mt-5(style="overflow: auto")
         block content
      //- Footer
      .container-fluid.bg-light.pt-2.pb-2#footer
         .row
            .col-6 Copyright © ShopPi
            .col-6.text-right
               a(href='https://github.com/ninhnguyen375/web-server-nodejs') Project on GitHub
               i.fab.fa-github.ml-2
      //- End Footer
      //- My script
      script(src="../../js/scripts.js")
      //- For Bootstrap
      script(src="/node_modules/jquery/dist/jquery.min.js")
      script(src="/node_modules/popper.js/dist/popper.min.js")
      script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
